@import "tailwindcss";

body{
  font-family: "Iransans";
  user-select: none;
}

@font-face{
  font-family: "Iransans";
  src: url("../public/fonts/iranSansX-light.woff2") format("woff2");
  font-display: swap;
  font-weight: 400;
}

@font-face{
  font-family: "Iransans";
  src: url("../public/fonts/iranSansX-bold.woff2") format("woff2");
  font-display: swap;
  font-weight: 800;
}